*.iml
.gradle
.DS_Store
/build
/captures
/keystore
/.idea/
.externalNativeBuild
.cxx
local.properties
/local.properties
*.apk
/app/playstoreProduction/release/app-playstore-production-release.aab
/app/inhouseDevelop/release/output-metadata.json
